@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background-color: #D5CFE1;
  color: #5D5D81;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  font-size: 4vw;

  .logo {
    max-width: 20vw;
    margin: 5vw;
  }
}

.nav {
  display:flex;
  flex-direction: row;
  justify-content: baseline;
  width: 80vw;
  .link {
    width: 20vw;
    height: 4vw;
    margin: 1vw;
    padding-bottom: .5vw;
    // justify-content: center;
    text-align: center;
    background-color: #9F9EB5;
    color: #E1DEE9;
    :hover {
      color:#5D5D81;
      cursor: default;
    }
  }

}

.desired {
  color: green;
}