@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background-color: #D5CFE1;
  color: #5D5D81;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  .text{
    margin: 0;
    font-size: 6vw;
    padding-bottom: 2.7vw;
  }
  .logo {
    max-width: 20vw;
    margin: 2vw;
  }
}

.nav {
  font-size: 2vw;
  display:flex;
  flex-direction: row;
  justify-content: baseline;
  width: 80vw;
  margin-top: -9vw;
  .link {
    width: 15vw;
    height: 4vw;
    margin: .5vw;
    text-align: center;
    background-color: #9F9EB5;
    padding-bottom: .5vw;
    // padding-top: .5vw;
    .text {
      color: #E1DEE9;
      margin-top: 1vw;
    }
    :hover {
      color:#5D5D81;
      cursor: default;
    }
  }

}

.desired {
  color: green;
}